body {
  display: flex;
  flex-direction: row;
  height: auto;
  margin: 0;
}

.sidebar {
  width: auto;
  background-color: #f0f0f0;
  padding: 20px;
  height:auto;
}

.content {
  width: 80%;
  padding: 20px;
  height:auto;
}

.sidebar .nav-item {
width:auto;
display:block;
  background-color: #f0f0f0;
  margin: 10px 0;
  padding: 0px 80px 5px 5px;
  transition: background-color 0.3s ease;
  margin:25px 0px;
}

.sidebar .nav-item a {
  color: #0056b3;
  width:100%;
  text-decoration: none;
  font-size: 18px;
  display: block;

}
.sidebar .nav-item:hover {
  background-color: skyblue;
}

.sidebar .nav-item:hover a {
  color: #0056b3;
}

.content {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 8px;
    color: #333;
}

input[type="text"], input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="text"]:focus, input[type="email"]:focus {
    border-color: #007bff;
    outline: none;
}
.error {
    color: red;
    font-size: 15px;
    margin-top: 5px;
}

#button {
    text-align: center;
}

button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}

